{
    "sydneytrains": {
        "proto": "http",
        "host": "localhost",
        "port": 8030
    },
    "nearmap": {
	"apikey": "<<YOUR KEY HERE>>",
	"tile": "https://api-qa.nearmapdev.com"
    }
}
